.upperBackground {
  width: 100%;
  height: 500px;
  background-color: #7ec7d8;
  position: relative;
}
.titleBox {
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  /* width: 500px;
  height: 100px; */
}

.titleText {
  font-size: 80px;
  font-family: "MS Gothic", sans-serif;
  color: #ffffff;
}

.square {
  width: 500px;
  height: 100px;
  background-color: skyblue;
}

.myself {
  opacity: 0;
  animation: 1s fadeIn 1s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
